services:
  db:
    container_name: nnp-stream-db
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - nnp-stream-network

  api:
    container_name: nnp-stream-api
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB}:5432/${POSTGRES_DB}?schema=public
    # expose:
    # - "${PORT}"
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - media_data:/app/media
    depends_on:
      db:
        condition: service_healthy
    networks:
      - nnp-stream-network

volumes:
  pg_data:
  media_data:

networks:
  nnp-stream-network:
    driver: bridge
